.navbar-brand > img {
    max-height: 100%;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

body {
    padding-top: 100px;
    padding-bottom: 20px;
    margin: 50px;
}

.navbar {
  margin-bottom: 20px;
}

#slider .rs-handle  {
    background-color: transparent;
    border: 8px solid transparent;
    border-right-color: black;
    margin: -6px 0px 0px 14px !important;
    border-width: 6px 104px 6px 4px;
}
#slider .rs-handle:before  {
    display: block;
    content: " ";
    position: absolute;
    height: 22px;
    width: 22px;
    background: black;
    right: -11px;
    bottom: -11px;
    border-radius: 100px;
}
#slider .rs-tooltip  {
    top: 75%;
    font-size: 11px;
}
#slider .rs-tooltip div  {
    text-align: center;
    background: orange;
    color: white;
    border-radius: 4px;
    padding: 1px 5px 2px;
    margin-top: 4px;
}
#slider .rs-range-color  {
    /*background-color: #DB5959;*/
    background-color: #337ab7;
}
#slider .rs-path-color  {
    /*background-color: #F0C5C5;*/
    /*background-color: #4cb7ff;*/
    background-color: #46a9fe;
}

#slider-div {
    margin: 0 auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*#slider .rs-handle  {*/
    /*background-color: transparent;*/
    /*border: 8px solid transparent;*/
    /*border-right-color: black;*/
    /*margin: -8px 0 0 14px !important;*/
/*}*/
/*#slider .rs-handle:before  {*/
    /*display: block;*/
    /*content: " ";*/
    /*position: absolute;*/
    /*height: 12px;*/
    /*width: 12px;*/
    /*background: black;*/
    /*right: -6px;*/
    /*bottom: -6px;*/
    /*border-radius: 100%;*/
/*}*/
/*#slider .rs-handle:after  {*/
    /*display: block;*/
    /*content: " ";*/
    /*width: 106px;*/
    /*position: absolute;*/
    /*top: -1px;*/
    /*right: 0px;*/
    /*border-top: 2px dotted black;*/
/*}*/
/*#slider .rs-range-color  {*/
    /*background-color: #8832cd;*/
/*}*/
/*#slider .rs-path-color  {*/
    /*background-color: #ddc5f0;*/
/*}*/


.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    outline: none !important;
   box-shadow: none;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}

.panel-body{
    margin: 20px; !important;
}
th1{
    font-size: 1.875em; /* 30px/16=1.875em */
    color: #4e555b;
}