{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from '_render_field.html' import render_field, render_single_field %}

{% block styles %}
    {{ super() }}
    {#    <link rel="stylesheet" href="{{ url_for('.static', filename='jquery.dataTables.css') }}">#}
    {#    <link rel="stylesheet" href="{{ url_for('.static', filename='select.dataTables.css') }}">#}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css"/>
{% endblock %}

{% block app_content %}
    <h1>{{ name }}</h1>

    {#    {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('lg', 2, 4)) }}#}
    <form action="/parameters" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.experiment) }}
        {{ render_field(form.network) }}
        {{ render_field(form.paths) }}
        {{ render_field(form.training) }}
        <button type="submit" formmethod="post" class="btn btn-primary">Submit</button>

    </form>


{% endblock %}

{% block scripts %}
    {{ super() }}

    {#    <script src="{{ url_for('.static', filename='jquery.dataTables.js') }}"></script>#}
    {#    <script src="{{ url_for('.static', filename='dataTables.select.js') }}"></script>#}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>

{% endblock %}
