{% extends "base_tf3.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from '_render_field.html' import render_field, render_single_field %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='run.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
        var hh = {{has_hash | tojson | safe}};
        localStorage.setItem('has_hash', hh);
        if(hh=='true'){
            $errormsg = "<span style='color: red'>* this function cannot be used with hash features</span>";
             $("#error_exp").addClass('error').html($errormsg)
        }

        var running = {{ running | tojson | safe}};
        if (running == 'running') {

            $('.play').toggleClass('active');
        }
        var handle_key = {};
        handle_key.features = {{ features | tojson | safe }};
        handle_key.types = {{ types | tojson | safe }};
        handle_key.categoricals = {{ categoricals | tojson | safe }};
        handle_key.checkpoints = {{ checkpoints | tojson | safe }};

        $.each(handle_key.features, function (key, value) {
            if (handle_key.types[key] == "number") {
                $('#maindiv').append('<tr> <th>' + key + ' </th> <th>')
                $('#maindiv').append('<input type="' + handle_key.types[key] + '" name ="' + key + '" value="' + value + '"  step="0.001"> </th></tr> ');
            }
        });
        $.each(handle_key.categoricals, function (key, value) {
            var i;
            var len = handle_key.categoricals[key].length;
            $('#maindiv').append('<tr> <th>' + key + ' </th> <th>');
            $('#maindiv').append('<select  id="' + key + '" name="' + key + '"> </select>');
            $('#maindiv').append('</th></tr>');
            for (i = 0; i < len; i++) {
                $('#' + key).append(new Option(handle_key.categoricals[key][i], handle_key.categoricals[key][i]));
            }
        });
        $.each(handle_key.checkpoints, function (key, value) {
            add_new_row(key, value['accuracy'], value['loss'], false);
        });
    </script>

{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css"/>
{% endblock %}

{% block app_content %}

    {#    <meta http-equiv="refresh" content="60"/>#}
    {#    <div class="bs-callout bs-callout-default">#}
    <div class="center-block">
        <form id="run_form" method="post">
            <button type="button" formmethod="post" id="run_button" name="run_button" class="play">

            </button>
            <h1>Training Play/Pause </h1>
{#            <span class="headline">click/touch the button to train your model.</span>#}
        </form>
        <br>
        <a role="button" name="tensor" class="btn btn-warning" target="_blank"
           href="/" onclick="javascript:event.target.port={{ port }}"><span
                class="glyphicon glyphicon-blackboard"></span> TensorBoard</a>
        {#    </div>#}
    </div>

    <div class="bs-callout bs-callout-warning" align="center">
        <th2> PREDICT</th2>
        <form action="/predict" method="post" id="predict_form">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bs-callout bs-callout-primary feat-div">
                            <h4><span class="glyphicon glyphicon-pencil"></span></h4>
                            <h4>FEATURES VALUES </h4>
                            Add new feature values.
                            <br> <br>
                            <div class="pre-scrollable">
                                <table>
                                    <div id="maindiv"></div>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="bs-callout bs-callout-info">
                            <h4><span class="glyphicon glyphicon-tasks"></span></h4>
                            <h4> CHECKPOINTS</h4>
                            Select trained model
                            <br>
                            <table id="stable" class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Model</th>
                                    <th scope="col">Accuracy</th>
                                    <th scope="col">Loss</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>

                                <tbody id="tablediv">
                                </tbody>

                                <tfoot align="right">
                                <tr>
                                    <td colspan="4">Clear all models <a data-id=all
                                                                        onclick="ConfirmDelete(this, true)">
                                        <span class="glyphicon glyphicon-trash" style="color:red"></span></a>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                            <div align="left">
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="" id="defaultCheck2" disabled> Resume training from
                                    selected model
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="bs-callout bs-callout-success">
                            <div>
                                <h4><span class="glyphicon glyphicon-ok"></span></h4>
                                <h4> PREDICT</h4>
                                Get a prediction for your selected feature values
                                <br>
                                <h3>{{ target }} : <b>
                                    <div id="predict_val"></div>
                                </b></h3>
                                <button type="button" id="predict_button" class="btn btn-primary" disabled>
                                    PREDICT
                                </button>

                                {#                                <div id="bottom-left">#}
                                {#                                    <button type="button" class="btn btn-link btn-details" onclick="hide_show_det()">#}
                                {#                                        <span id="detail_gly2" class="glyphicon glyphicon-triangle-bottom"></span>#}
                                {#                                        Details#}
                                {#                                    </button>#}
                                {#                                </div>#}
                            </div>

                            {#                            <div class="bs-callout bs-callout-explain" id="explain_form">#}
                            {#                                <div class="block">#}
                            {#                                    <label class="cust_label" for="top_labels">#}
                            {#                                        Top labels:#}
                            {#                                        <input type="number" name="top_labels" id="top_labels" value="2" step="1"#}
                            {#                                               min="1">#}
                            {#                                    </label>#}
                            {#                                </div>#}
                            {#                                <div class="block">#}
                            {#                                    <label class="cust_label" for="num_feat">#}
                            {#                                        #Features:#}
                            {#                                        <input type="number" name="num_feat" id="num_feat" value="5" step="1" min="2">#}
                            {#                                    </label>#}
                            {#                                </div>#}
                            {#                                <br>#}
                            {#                                <button type="button" id="explain_button" class="btn btn-primary" disabled>#}
                            {#                                    EXPLAIN#}
                            {#                                </button>#}
                            {#                            </div>#}

                        </div>
                    </div>
                    <div class="col-md-3 explain-div">
                        <div class="bs-callout bs-callout-info">
                            <div>
                                <h4><span class="glyphicon glyphicon-eye-open"></span></h4>
                                <h4> EXPLAIN</h4>
                                Explain the prediction for your selected feature values
                                <br>
                                <div class="bs-callout bs-callout-explain" id="explain_form">
                                    <div class="block">
                                        <label class="cust_label" for="top_labels">
                                            Top labels:
                                            <input type="number" name="top_labels" id="top_labels" value="2"
                                                   step="1"
                                                   min="1">
                                        </label>
                                    </div>
                                    <div class="block">
                                        <label class="cust_label" for="num_feat">
                                            #Features:
                                            <input type="number" name="num_feat" id="num_feat" value="5" step="1"
                                                   min="2">
                                        </label>
                                    </div>
                                    <br>
                                    <button type="button" id="explain_button" class="btn btn-primary" disabled>
                                        EXPLAIN
                                    </button>
                                    <div id="error_exp" class="bottom-left"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>

    <button class="btn btn-link btn-details" onclick="hide_show()">
        <span id="detail_gly" class="glyphicon glyphicon-triangle-bottom"></span> Details
    </button>
    <div id="log" class="log"></div>

{% endblock %}