{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='roundslider.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my.css') }}">
{% endblock %}


{% block app_content %}
<div class="row" id="slider-div">
    <h1 class="col-md-12 col-lg-12 align-middle">Select the test dataset percentage </h1>
    <div class="col-md-12 col-lg-12" id="slider"></div>
</div>
<div class="row">
    <div class="col-md-2 col lg-2">
         {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
    </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('.static', filename='roundslider.min.js') }}"></script>
<script src="{{ url_for('.static', filename='slider.js') }}"></script>
{% endblock %}