{% extends "base_tf3.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{ super() }}
    {#    <link rel="stylesheet" href="{{ url_for('.static', filename='jquery.dataTables.css') }}">#}
    {#    <link rel="stylesheet" href="{{ url_for('.static', filename='select.dataTables.css') }}">#}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css"/>
{% endblock %}

{% block app_content %}
    <div align="center">
        <th1> {{ name }}</th1>
    </div>

    {{ data.to_html(classes="table table-striped display", table_id="target") | safe }}

    {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}


{% endblock %}

{% block scripts %}
    {{ super() }}

    {#    <script src="{{ url_for('.static', filename='jquery.dataTables.js') }}"></script>#}
    {#    <script src="{{ url_for('.static', filename='dataTables.select.js') }}"></script>#}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>

    <script src="{{ url_for('.static', filename='target.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#target tr:contains({{ target_selected }})').addClass('selected');
            if ($( "#target tr" ).hasClass( "selected" )){
                 $("input").prop('disabled', false);
                     };
        });
    </script>


{% endblock %}
