{% extends "base_tf3.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from '_render_field.html' import render_checkbox, render_field, render_single_field %}

{% block styles %}
    {{ super() }}
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='choose.js') }}"></script>
{% endblock %}

{% block app_content %}
    <div align="center">
        <th1>Data Upload</th1>
    </div>
    {#        {{ wtf.quick_form(form, form_type='inline', enctype="multipart/form-data", button_map={'submit': 'primary'}) }}#}
    <div class="row">
        <!--{{ wtf.quick_form(form, id='new_dataset', enctype="multipart/form-data", button_map={'submit': 'primary'}) }}-->
        <form action="/upload_new" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <div id="newfiles">
                {{ render_field(form.new_files) }}
            </div>

            <p align="right">
                <button type="submit" align="right" formmethod="post" class="btn btn-primary">Next</button>
            </p>

        </form>
    </div>
{% endblock %}
